<!DOCTYPE html>
<html lang="en">
<head>
<title>Manoranjan</title>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Agatha' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="/static/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allura&family=Comforter+Brush&family=Ms+Madi&family=WindSong&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ms+Madi&family=WindSong&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/bootstrap-5.0.0-beta2.min.css" />
<link rel="stylesheet" href="/static/LineIcons.2.0.css" />
<link rel="stylesheet" href="/static/tiny-slider.css" />
<link rel="stylesheet" href="/static/animate.css" />
<link rel="stylesheet" href="/static/main.css" />

<style>
body {font-family: "Lato", sans-serif;
margin:0;
overflow-x:hidden;}
.mySlides {display: none}

ul.topnav {
    max-width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #203344;
  }
  
  ul.topnav li {float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {
    background-color: #694033;
    }
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  </style>
</head>
<body>
<!--    <body id="content" > -->
  <ul class="topnav">
    <li><img src="/static/logo (2).svg" alt="Logo"></li>
    <li><a style="margin-top:10px;" class="active" href="/">Home</a></li>
    <li><a style="margin-top:10px;" href="#check_about">About</a></li>
    <li><a style="margin-top:10px;" href="#section">Features</a></li>
    <li><a style="margin-top:10px;" href="/home">Recommend</a></li>
    <li><a style="margin-top:10px;" href="#timeline">Timeline</a></li>
    <li><a style="margin-top:10px;" href="/wish">Wishlist</a></li>
 
  </ul>
  


<!-- preloader end

<!-- ========================= header start ========================= -->

<section id="home" class="hero-section"  style="background-image: url(/static/hero-bg.svg)";>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10">
        <div class="hero-content">
          <h1>Movie recommendation solutions with <span>Manoranjan</span></h1>
          <p> using content based filtering</p>

          <a class="main-btn btn-hover">Demo</a>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 offset-xxl-1">
        <div class="hero-image text-center text-lg-start">
          <img src="/static/recommendation.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Page content -->

  <section id="feature-1" class="feature-section-1">
    <div class="shape-image">
      <img src="/static/about.png" alt="" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-last order-lg-first">
          <div class="feature-image text-center text-lg-start">
            <!-- <img src="/static/about.png" alt="" /> -->
          </div>
        </div>
        <div class="col-lg-6 col-xxl-5 col-md-10 offset-xxl-1">
          <div class="feature-content-wrapper">
            <div class="section-title">
              <h2 class="mb-20" id="check_about">Manoranjan!</h2>
              <p class="mb-10"><i>Don't wait, just have some “Manoranjan!”</i></p>
              <p class="mb-30">
                 In the era of the 21st century, when the world is running at a speed that seems like the speed of air, All developers, workers, or any other working profession is so much busy in their world! But, What about Entertainment (Manoranjan!), Entertainment is not just for health but it is also good for our soul! For this, my Manoranjan website will help you, as it contains at least more than 5000 movie datasets according to your choice! You always search on google for movie ratings, and know about top casts! This recommendation engine will help you to solve this! You don’t need to google each and everything about movie. You have our “Manoranjan App” for this, not only this, you can add your favorite movie like a to-do list for later!
              </p>
              <a href="#" class="main-btn btn-hover border-btn"
                >How to use Manoranjan?</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="service" class="service-section img-bg pt-100 pb-100 mt-150">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-10">
          <div class="section-title text-center mb-50">
            <h1>Main features</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="single-service">
            <div class="icon color-1">
              <img style="margin-top : 50px;
              margin-right: 25px;" src="/static/reviews.svg">
            </div>
            <div class="content">
              <h3>Review about the movie.</h3>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="single-service">
            <div class="icon color-2">
              <img style="margin-top : 10px; margin-right:10px;" src="/static/recomm.svg">
            </div>
            <div class="content">
              <h3>Recommendations for similar types of movies.</h3>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="single-service">
            <div class="icon color-3">
              <img style="margin-top : 10px; margin-left: 35px" src="/static/wish.svg">
            </div>
            <div class="content">
              <h3>Wish list for movies which you want to watch.</h3>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="single-service">
            <div class="icon color-4">
              <img style="margin-top : 50px;" src="/static/ratings.svg">
            </div>
            <div class="content">
              <h3>Ratings on the scale of 10.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="feature-1" class="feature-section-1">
    <div class="shape-image">
      <img src="/static/feature-img-1.svg" alt="" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-last order-lg-first">
          <div class="feature-image text-center text-lg-start">
            <img src="/static/feature-img-1.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-xxl-5 col-md-10 offset-xxl-1">
          <div class="feature-content-wrapper">
            <div class="section-title">
              <h2 class="mb-20" id="timeline">Witness my journey through this timeline!</h2>
              <p class="mb-30">
                Different challenges that I faced all through these 4 weeks,
                how I overcame them and what I learnt from those mistakes.
              </p>
              <a href="/timeline" class="main-btn btn-hover border-btn"
                >My timeline</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- The Tour Section -->
  		<!-- ========================= faq-section start ========================= -->
      <section id="faq" class="faq-section pt-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-6 col-lg-7">
              <div class="section-title text-center mb-60">
                <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Frequently Asked Queries</h1>
                <p class="mb-25 wow fadeInUp" data-wow-delay=".2s"> Manoranjan is basically a way for enjoy! </p>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <div class="accordion faq-wrapper" id="accordionExample">
                <div class="single-faq">
                  <button class="w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Can I also stream a movie?
                  </button>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="faq-content">
                      No, You only have recommendations for the movie. It is recommendation engine, not a streaming app.
                    </div>
                  </div>
                </div>
                <div class="single-faq">
                  <button class="w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What is the use of Wish list?
                  </button>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="faq-content">
                      You can manually adds movie there and take a note of it for future use.
                    </div>
                  </div>
                </div>
                <div class="single-faq">
                  <button class="w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Is there are reviews and ratings for movies?
                  </button>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="faq-content">
                      Yes, there are reviews and ratings for each recommended movie.
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="faq-image">
                <img src="/static/faq-img.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>



<!-- Footer -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-xl-2 col-md-6">
          <div class="footer-widget">
            <h3>About Us</h3>
            <ul class="links">
              <li> <a href="javascript:void(0)">Home</a> </li>
              <li> <a href="javascript:void(0)">Features</a> </li>
              <li> <a href="javascript:void(0)">Timeline</a> </li>
              <li> <a href="javascript:void(0)">FAQ</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="footer-widget">
            <h3>Features</h3>
            <ul class="links">
              <li> <a href="javascript:void(0)">Easy to use</a> </li>
              <li> <a href="javascript:void(0)">Work every device</a> </li>
              <li> <a href="javascript:void(0)">Always up to date</a> </li>
              <li> <a href="javascript:void(0)">Reviews and Ratings</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="footer-widget">
            <h3>Support</h3>
            <ul class="links">
              <li> <a href="javascript:void(0)">Open-soruce</a> </li>
              <li> <a href="javascript:void(0)">Privacy Policy</a> </li>
              <li> <a href="javascript:void(0)">Terms of Service</a> </li>
              <li> <a href="javascript:void(0)">Accessibility</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="footer-widget">
            <h3>Have Manoranjan!</h3>
            <ul class="download">
              <li>
                <a href="javascript:void(0)">
                  <img src="/static/logo.svg">
                 
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="copy-right-wrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="copy-right">
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="socials">
            <ul>
              <li>
                <a href="google.com"> <i class="lni lni-facebook-filled"></i> </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="lni lni-twitter-filled"></i> </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="lni lni-instagram-filled"></i> </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="lni lni-linkedin-original"></i> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
<script>

// Automatic Slideshow - change image every 4 seconds
 var myIndex = 0;
 carousel();

 function carousel() {
   var i;
   var x = document.getElementsByClassName("mySlides");
   for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
   }
   myIndex++;
   if (myIndex > x.length) {myIndex = 1}    
   x[myIndex-1].style.display = "block";  
   setTimeout(carousel, 4000);    
 }

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}


</script>
<script src="/static/bootstrap-5.0.0-beta2.min.js"></script>
<script src="/static/tiny-slider.js"></script>
<script src="/static/wow.min.js"></script>
<script src="/static/polyfill.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
