<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/timeline.css">
    <title>Document</title>
</head>
<body>
    <div id="content">
        <h1>Timeline</h1>
      
        <ul class="timeline">
          <li class="event" data-date="May 4- May11">
            <h3>Sprint-1 </h3>
            <p>Thinking and Designing Part.</p>
           </li>
          <li class="event" data-date="May 12- May18">
            <h3>Sprint-2</h3>
            <p>Exploring different technologies, algorithms and learning about most appropriate Algorithm. </p>    
          </li>
          <li class="event" data-date="May 19- May24">
            <h3>Sprint-3</h3>
            <p>Built Recommendation Engine Web app, Integration of frontend and backend. </p>
             <p> Learned about how Ml Models connect with Frontend </p>   
          </li>
          <li class="event" data-date="May25- May29">
            <h3>Sprint-4</h3>
            <p>Deployed, Debug and testing.</p>
            <p>Presentation making.</p>
             <p>Video Demo.  </p> 
               
          </li>
        </ul>
      </div>
</body>
</html>